.container {
  padding: 150px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f9;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form__input {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  outline: none;
}

.form__submit-btn {
  padding: 10px 20px;
  border-radius: 20px;
  align-self: stretch;
  border: none;
  font-size: 1.1rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  outline: none;
}

.form__submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
